{% extends 'base.html.twig' %}

{% block body %}
    <h1>Serie</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ serie.id }}</td>
            </tr>
            <tr>
                <th>Nameserie</th>
                <td>{{ serie.nameSerie }}</td>
            </tr>
            <tr>
                <th>Origine</th>
                <td>{{ serie.origine }}</td>
            </tr>
            <tr>
                <th>Dateproduction</th>
                <td>{% if serie.dateProduction %}{{ serie.dateProduction|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Realisateur</th>
                <td>{% if serie.realisateur %}{{ serie.realisateur }}{% endif %}</td>
            </tr>
            <tr>
                <th>Acteurs</th>
                <td>{% if serie.acteur|length > 0 %}
                    <ul>
                        {% for acteur in serie.acteur %}
                            <li>{{ acteur }}</li>
                        {% endfor %}
                    {% endif %}
                    </ul>
                    
                </td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('serie_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('serie_edit', { 'id': serie.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
