{% extends 'base.html.twig' %}

{% block body %}
    <h1>Episode list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Name's serie</th>
                <th>Date</th>
                <th>Time</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for episode in episodes %}
            <tr>
                <td><a href="{{ path('episode_show', { 'id': episode.id }) }}">{{ episode.id }}</a></td>
                <td>{{ episode.name }}</td>
                <td>{{ episode.serie }}</td>
                <td>{% if episode.date %}{{ episode.date|date('Y-m-d') }}{% endif %}</td>
                <td>{% if episode.time %}{{ episode.time|date('H:i:s') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('episode_show', { 'id': episode.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('episode_edit', { 'id': episode.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('episode_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
