{% extends 'base.html.twig' %}

{% block body %}
    <h1>Episode</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ episode.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ episode.name }}</td>
            </tr>
            <tr>
                <th>Name's serie</th>
                <td>{% if episode.serie %}{{ episode.serie }}{% endif %}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{% if episode.date %}{{ episode.date|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Time</th>
                <td>{% if episode.time %}{{ episode.time|date('H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('episode_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('episode_edit', { 'id': episode.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
